<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{user.members[0].name ? user.members[0].name : user.members[0].phoneNumber}}
      <div class="subtitle">{{user.phone}}
      </div>
    </ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ul class="messages">
    <li *ngFor="let msg of messages; let last = last">
      <div class="msg" [ngClass]="{'from': msg.from === 0, 'to': msg.from === 1}">
        <div class="type" *ngIf="msg.from === 1">
          <img style="width: 100%" src="./assets/img/cash.png" *ngIf="msg.type === 0">
          <img style="width: 100%" src="./assets/img/account.png" *ngIf="msg.type === 1">
        </div>
        <div class="text" [ngClass]="{'left': msg.from === 0, 'right': msg.from === 1}">
          <div class="amount" [ngClass]="{'color:white': msg.from === 0}">
            {{msg.amount}}
          </div>
          <div class="typeDesc">
            <p *ngIf="msg.type === 0">Платеж наличными</p>
            <p *ngIf="msg.type === 1">Платеж со счета</p>
          </div>
          <div class="description">
            {{msg.description}}
          </div>
          <div class="time">
            12:34 PM
          </div>

        </div>
        <div class="type" *ngIf="msg.from === 0">
          <img style="width: 100%" src="./assets/img/cash.png" *ngIf="msg.type === 0">
          <img style="width: 100%" src="./assets/img/account.png" *ngIf="msg.type === 1">
        </div>
      </div>
      {{last ? callFunction() : ''}}
    </li>
  </ul>
  <!--<div class="messages">
    <div class="msg" *ngFor="let msg of messages" [ngClass]="{'from': msg.from === 0, 'to': msg.from === 1}">
      <span class="description">
        {{msg.description}}
      </span>
      <span class="amount">
        {{msg.amount}}
      </span>
    </div>
  </div>-->

  <ion-fab right bottom>
    <button ion-fab color="primary"><ion-icon name="add"></ion-icon></button>
    <ion-fab-list side="left">
      <button ion-fab (click)="sendMoney('cash')"><ion-icon name="cash"></ion-icon></button>
      <button ion-fab (click)="sendMoney('account')"><ion-icon name="card"></ion-icon></button>
    </ion-fab-list>
  </ion-fab>
</ion-content>

<ion-footer text-center="">
  <ion-toolbar>
    <ion-title>Баланс: {{user.balance}}</ion-title>
  </ion-toolbar>
</ion-footer>

<!--<ion-footer>
  <ion-toolbar>
    <ion-grid>
      <ion-row text-center>
        <ion-col>
          <div>
            <button ion-button block (click)="sendMoney('cash')">Наличные</button>
          </div>
        </ion-col>
        <ion-col>
          <div>
            <button ion-button block (click)="sendMoney('account')">Со счета</button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>-->
