<ion-header>
  <ion-toolbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Диалоги</ion-title>
    <ion-buttons end>
      <button ion-button icon-only color="royal" (click)="openSearchPage()">
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>

  <!--<ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Диалоги</ion-title>
  </ion-navbar>-->
</ion-header>

<ion-content>
  <ion-list *ngIf="dialogs?.length > 0">
    <ion-item *ngFor="let item of dialogs" (click)="openChat(item)">
      <ion-avatar item-start>
        <img src={{item.imgUrl}}>
      </ion-avatar>
      <h2>{{item.name}}</h2>
      <p>{{item.lastMessage}}</p>
      <ion-badge item-end>{{item.balance}}</ion-badge>
    </ion-item>
  </ion-list>

</ion-content>

