<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-searchbar (input)="getItems($event)" [(ngModel)]="search" (ionCancel)="resetDialogs()" (ionClear)="resetDialogs()" placeholder="Поиск"></ion-searchbar>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card>

    <ion-card-content text-center>
      Для добавления собеседника введите его номер
    </ion-card-content>

  </ion-card>
  <ion-card *ngIf="search">

    <ion-card-content text-center (click)="startDialog(search)">
      Начать диалог с <strong>{{search}}</strong>
    </ion-card-content>

  </ion-card>
  <ion-list *ngIf="dialogs?.length > 0">
    <ion-item *ngFor="let item of dialogs" (click)="openChat(item)">
      <ion-avatar item-start>
        <img src="./assets/img/default-avatar.png">
      </ion-avatar>
      <h2>{{item.name || item.members[0]?.phoneNumber}}</h2>
      <p>{{item.lastMessage}}</p>
      <ion-badge item-end>{{item.balance}}</ion-badge>
    </ion-item>
  </ion-list>

</ion-content>
